@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("http://2.bp.blogspot.com/-8BzzA77Yx1Y/T0rW6K_PU-I/AAAAAAAAVac/OZJlg42u7fU/s1600/Paisajes_Wallpapers-1080p_08.jpg");
      background-color: #cccccc;
}


.Medida {
  border-radius: 5px 5px 2px 2px;
  width: 300px;
  margin: 50px auto 0;
  position: relative;
}
.Medida:before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 10px;
  right: 10px;
  background: #eeeeee;
  display: block;
  height: 5px;
  z-index: -6px;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.Medida:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 5px;
  right: 5px;
  background: #eeeeee;
  display: block;
  height: 5px;
  z-index: -5px;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.Medida header {
  background: linear-gradient(#b56368, #ac535b);
  height: 40px;
  border-radius: 5px 5px 0 0;
  position: relative;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #6f212f;
  border-bottom: 2px solid #6f212f;
  text-align: center;
}
.Medida h1 {
  font-family: ReklameScript-RegularDEMO;
  color: #fad2d4;
  text-shadow: 0 0 4px rgba(111, 33, 46, 0.75), -1px -1px 1px rgba(255, 255, 255, 0.1);
  font-weight: 300;
  display: inline-block;
  margin: 5px 0 0;
  padding: 0;
  font-size: 24px;
}

.Medida section {
  background: #f8f7f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  border-radius: 0 0 2px 2px;
}
.Medida section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
  width: 1px;
  background: rgba(224, 13, 48, 0.1);
  z-index: 2;
}
.Medida section ul {
  position: relative;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.Medida section li {
  font-size: 13px;
  border-top: 1px solid #ccc;
  padding: 0 10px;
}
.Medida section li a {
  line-height: 30px;
  display: block;
}
.Medida section li .complete {
  color: #999;
  text-decoration: line-through;
}
.mvalor{
 text-align: center;
}


:-moz-placeholder {
  color: #539aac;
}
